:root {
  --clr-very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --clr-soft-red: hsl(14, 88%, 65%);

  --gradient-soft-violet: hsl(273, 75%, 66%);
  --gradient-soft-blue: hsl(240, 73%, 65%);

  --clr-text-very-dark-grayish-blue: hsl(237, 12%, 33%);
  --clr-text-dark-grayish-blue: hsl(240, 6%, 50%);

  --clr-dividers: hsl(240, 5%, 91%);

  --fw-regular: 400;
  --fw-bold: 700;
}

body {
  background-image: linear-gradient(180deg, var(--gradient-soft-violet) 0%, var(--gradient-soft-blue) 100%);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* Visually hidden, but available for screen reader */

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  white-space: nowrap !important;
}

.faq-accordion {
  position: relative;
  flex: 1 0;
  min-width: 18.75rem;
  max-width: 57.5rem;
  height: 33.438rem;
  margin: 3.938rem 1.5rem 0;
  border-radius: 1.438rem;
  box-shadow: 0 3.75rem 3.125rem -1.25rem rgba(29, 30, 53, 0.3);
  background-color: #FFF;
}

.faq-accordion__image-container {
  position: relative;
}

.faq-accordion__illustration {
  position: absolute;
  top: -6.875rem;
  left: calc(50% - 7.5rem);
  z-index: 1;
  width: 15rem;
}

.faq-accordion__illustration-background {
  position: absolute;
  top: 0;
  left: calc(50% - 7.5rem);
  z-index: 0;
  width: 15rem;
}

.faq-accordion__text-container {
  padding: 8.125rem 1.438rem 2.938rem 1.563rem;
}

.faq-accordion__title {
  padding-bottom: 0.938rem;
  font-weight: 700;
  font-size: 2.063rem;
  text-align: center;
}

.faq-accordion__questions {
  list-style: none;
}

.faq-accordion__question-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.063rem solid var(--clr-dividers);
  padding: 0.938rem 0 1.188rem;
}

.question-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  border: none;
  padding: 0;
  color: var(--clr-text-very-dark-grayish-blue);
  font-family: inherit;
  font-weight: 400;
  font-size: 0.813rem;
  background-color: #FFF;
  cursor: pointer;
}

.question-btn:hover {
  color: var(--clr-soft-red);
}

.question_current {
  font-weight: 700;
}

.answer {
  display: none;
  width: 100%;
  padding: 0.688rem 1.25rem 0 0;
  color: var(--clr-text-dark-grayish-blue);
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.5;
}

.answer_current {
  display: initial;
}

.arrow {
  width: 0.688rem;
}

.arrow_current {
  rotate: 180deg;
}

.box-image {
  display: none;
}

@media screen and (min-width: 950px) {
  .faq-accordion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 31.875rem;
    margin: 0 0 0 2.5rem;
    overflow: hidden;
  }

  .faq-accordion__text-container {
    padding: 3.875rem 6.8rem 2.125rem 1rem;
  }

  .faq-accordion__title {
    margin-bottom: 0.563rem;
    font-size: 2rem;
    text-align: start;
  }

  .faq-accordion__illustration {
    position: absolute;
    top: 4.475rem;
    left: -5.1rem;
    z-index: 1;
    width: 102%;
  }

  .faq-accordion__illustration-background {
    position: absolute;
    top: -19.063rem;
    left: -37.188rem;
    z-index: 0;
    width: 214%;
  }

  .box-image {
    position: absolute;
    top: calc(50% - 3.125rem);
    left: calc(50% - 33.438rem);
    z-index: 3;
    display: initial;
    width: 12.188rem;
  }

  .faq-accordion__question-item {
    padding: 0.938rem 0 1.063rem;
  }

  .question-btn {
    font-size: 0.888rem;
  }
}