:root {
  --clr-very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --clr-soft-red: hsl(14, 88%, 65%);
  
  --gradient-soft-violet: hsl(273, 75%, 66%);
  --gradient-soft-blue: hsl(240, 73%, 65%);

  --clr-text-very-dark-grayish-blue: hsl(237, 12%, 33%);
  --clr-text-dark-grayish-blue: hsl(240, 6%, 50%);

  --clr-dividers: hsl(240, 5%, 91%);

  --fw-regular: 400;
  --fw-bold: 700;
}

body {
  background-image: linear-gradient(180deg, var(--gradient-soft-violet) 0%, var(--gradient-soft-blue) 100%);
}

/* Visually hidden, but available for screen reader */

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  white-space: nowrap !important;
}

.faq-accordion { 
  position: relative;
  margin: 0 24px;
  margin-top: 148px;
  border-radius: 23px;
  padding: 130px 23px 47px 25px;
  background-color: #FFF;

}

.faq-accordion__image-container {
  position: relative;
}

.faq-accordion__illustration {
  position: absolute;
  top: -240px;
  left: calc(50% - 120px);
  z-index: 1;
  width: 240px;
}

.faq-accordion__illustration-background {
  position: absolute;
  top: -130px;
  left: calc(50% - 120px);
  z-index: 0;
  width: 240px;
}

.faq-accordion__text-container {
}

.faq-accordion__title {
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 33px;
  text-align: center;
}

.faq-accordion__questions {
  list-style: none;
}

.faq-accordion__question-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--clr-dividers);
  padding: 15px 0 19px;
}

.question-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  border: none;
  padding: 0;
  color: var(--clr-text-very-dark-grayish-blue);
  font-family: inherit;
  font-weight: 400;
  font-size: 13px;
  background-color: #FFF;
  cursor: pointer;
}

.question-btn:hover {
  color: var(--clr-soft-red);
}

.question_current {
  font-weight: 700;
}

.answer {
  display: none;
  width: 100%;
  padding: 11px 20px 0 0;
  color: var(--clr-text-dark-grayish-blue);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
}

.answer_current {
  display: initial;
}

.arrow {
  width: 11px;
}

.arrow_current {
  rotate: 180deg;
}